@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playwrite+IS:wght@100..400&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Jacquard+12&display=swap');

body {
  background-image: url("media/abstract-background-red-and-white-chessboard-pattern-optical-illusion-texture-for-your-design-free-vector.jpg");
  font-family: 'IBM Plex Mono', sans-serif;
}

.michi-anvurguer {
  float: left;
  margin-left: 20px;
  height: 300px;
  border-radius: 60px;
}

.presentacion {
  margin-top: 5px;
  background-color: rgb(0, 0, 0);
  width: 50%;
  border-radius: 30px;
}

#formulario {
  border: 5px solid rgb(255, 187, 0);
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgb(255, 187, 0);
  transition: 2s;
  padding: 18px;
}

#titulo-email {
  border: 3px solid rgb(255, 187, 0);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(255, 187, 0);
  padding: 5px;
  color: white;
  font-size: 20px;
  margin-right: 50px;
  margin-top: 20px;
}

#input-de-email[type="email"] {
  margin-right: 50px;
}

#titulo-password {
  border: 3px solid rgb(255, 187, 0);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(255, 187, 0);
  padding: 5px;
  color: white;
  font-size: 20px;
  margin-right: 50px;
}

#input-de-password {
  margin-right: 50px;
}

#input-de-login {
  margin-right: 50px;
}

.eslogan {
  color: rgb(255, 187, 0);
  box-shadow: 0px 0px 30px rgb(255, 187, 0);
  background-color: black;
  transition: 1s;
  border-radius: 30px;
  border: 3px solid rgb(255, 187, 0);
  font-size: 25px;
  padding: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
}

.eslogan:hover {
  color: rgb(0, 132, 255);
  box-shadow: 0px 0px 30px rgb(0, 132, 255);
  background-color: black;
  transition: 1s;
  border-radius: 30px;
  border: 3px solid rgb(0, 132, 255);
  font-size: 25px;
  padding: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
  
}


#menu-de-navegacion {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  padding: 12px;
  width: 90%;
  border-radius: 10px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 13px;
  padding: 5px;
  transition: 1s;

}

a:hover {
  color: rgb(115, 255, 0);
  box-shadow: 0px 0px 60px rgb(115, 255, 0);
  text-decoration: none;
  border: 3px solid rgb(115, 255, 0);
  border-radius: 5px;
  font-size: 17px;
  padding: 5px;
  transition: 1s;
}

